---
title: 'Can you identify this legendary malayalam novel ? A ggwordcloud experiment
  in R '
author: Arun Gopinath
description: " A fun analysis of famous malayalam novel in R using ggwordcloud package. This specific novel is a milestone in malayalam literature history"
date: '2021-06-17'
categories:
  - tutorials
tags:
  - R
  - wordcloud
---

<script src="{{< blogdown/postref >}}index_files/header-attrs/header-attrs.js"></script>


<div id="a-legendary-novel" class="section level1">
<h1>A legendary novel</h1>
<p>Yesterday out of nowhere the masterpiece novel, which changed the course of Malayalam literature forever pop up in my social media feed. After reading the digital copy (.epub) of the same, the idea for this article came into my mind.
All I have for you is “words”.</p>
<div id="create-a-word-cloud-using-r" class="section level2">
<h2>Create a word cloud using R</h2>
<p>First of all, load necessary R packages. {readtext} and {tidytext} for load our novel. {tidyverse} - the most important package for data wrangling. {ggplot2} and {ggwordcloud} for visualisation.</p>
<pre class="r"><code>library(tidytext)
library(readtext)
library(here)
library(tidyverse)
library(ggplot2)
library(ggwordcloud)</code></pre>
</div>
<div id="load-files" class="section level2">
<h2>Load files</h2>
<p>Load files. (If you follow the clue, you are already in the right direction to find this masterpiece novel). Here, the novel is in ‘.txt’ format. “unnest_token” will convert the entire file into a two-column table.</p>
<pre class="r"><code>k &lt;- readtext(here(&quot;static/data&quot;,&quot;k.txt&quot;))
token_k &lt;- k %&gt;% unnest_tokens(word,text)</code></pre>
</div>
</div>
<div id="little-bit-data-wrangling" class="section level1">
<h1>Little bit data wrangling</h1>
<p>We are almost there. The only thing we want to visualise is nothing but the word count. “count(word,sort = TRUE)” will get the job done for us. For tidiness of the plot count greater than “25” is used (Who loves messy visuals?). As a final step,{ggwordcloud} is applied with suitable text size, colour. The benefit of {ggwordcloud} is its integration with {ggplot2} outputs. For cooler representation some tilting of words are also included and stored in a new coloumn named “angle”.</p>
<pre class="r"><code>wcloud &lt;- token_k %&gt;% 
  count(word,sort = TRUE) %&gt;% 
  filter(n &gt; 25) %&gt;%  
  mutate(word = reorder(word,n)) %&gt;% 
  mutate(angle = 45 * sample(-2:2, n(), replace = TRUE, prob = c(1, 1, 4, 1, 1)))</code></pre>
<div id="final-step---visualisation" class="section level2">
<h2>Final step - Visualisation</h2>
<p>In the visualisation step, {ggplot} is used along with “geom_text_wordcloud_area” function in {ggwordcloud}. Colour is based on the frequency of words in the file. Also, most frequent words are set to “red” and less frequent ones to “blue”. Finally, a cool title and caption are added (Theme section)</p>
<pre class="r"><code>set.seed(42)
kplot &lt;- ggplot(wcloud, aes(label = word,size =n, angle = angle,
                            color = n)) +
   geom_text_wordcloud_area() +
  scale_size_area(max_size = 20) +
  
  # theme section
  theme_minimal()+
  scale_colour_gradient(low = &quot;blue&quot;, high = &quot;red&quot;, na.value = NA)+
  
  # title and caption
  labs(
    title = &quot;Can you identify this legendary malayalam novel ?&quot;,
    caption = &quot;Design: Arun Gopinath&quot;
  )+
  theme(
  plot.title = element_text(color = &quot;red&quot;, size = 18, face = &quot;bold&quot;,hjust = 0.5),
  plot.caption = element_text(color = &quot;darkgreen&quot;, face = &quot;italic&quot;)
)
kplot</code></pre>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/unnamed-chunk-3-1.png" width="672" /></p>
</div>
</div>
