/* Basic layout */
body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5;
}

/* Header and navigation */
.masthead {
  padding: 1em 0;
  border-bottom: 1px solid #ddd;
}

.masthead .menu {
  padding: 0;
}

.masthead .menu li {
  display: inline-block;
  margin-right: 1em;
}

.masthead .menu a {
  text-decoration: none;
  padding: 0.5em 0;
  color: #666;
}

.masthead .menu .active a {
  color: #000;
  border-bottom: 2px solid #000;
}

/* Main content */
.main {
  margin-top: 2em;
  hyphens: auto;
}

/* Article and content styling */
.article-meta {
  text-align: left;
  margin-bottom: 1em;
}

.title {
  font-size: 1.2em;
  line-height: 1.2;
}

/* Code formatting */
pre, code {
  background: #f8f8f8;
  padding: 0.2em 0.5em;
  border-radius: 3px;
  font-size: 0.9em;
}

pre code {
  padding: 0;
  background: none;
}

/* Table styles */
table {
  margin: 1em 0;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  padding: 0.5em;
  border: 1px solid #ddd;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* Links */
a {
  color: #1a1a1a;
  text-decoration: none;
  border-bottom: 1px solid #555;
}

a:hover {
  color: #555;
  border-bottom: none;
}

/* Footer */
footer {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #ddd;
  font-size: 0.9em;
  color: #666;
}

/* Responsive design */
@media screen and (max-width: 600px) {
  .masthead .menu li {
    display: block;
    margin: 0.5em 0;
  }
  
  body {
    padding: 0.5em;
  }
}

/* Print styles */
@media print {
  body {
    max-width: 100%;
  }
  
  .masthead .menu {
    display: none;
  }
}

/* Table of Contents */
#TableOfContents {
  margin: 1em 0;
  padding: 0.5em 1em;
  background: #f8f8f8;
  border-radius: 3px;
}

#TableOfContents ul {
  padding-left: 1.5em;
  margin: 0;
}