
{{ partial "header.html" . }}

{{ if .Content }}
{{ .Content }}
{{ else }}
<div class="archive">
  {{ range .Pages.GroupByDate "2006" }}
  <h2 class="archive-title">{{ .Key }}</h2>
  {{ range .Pages.GroupByDate "2006-01-02" }}
  {{ range .Pages }}
  <p>
    <span>{{ .Date.Format "2006-01-02" }}</span>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </p>
  {{ end }}
  {{ end }}
  {{ end }}
</div>
{{ end }}
<meta
name="description"
content="{{ if .Params.summary }}{{ .Params.summary }}{{ end }}"
/>
{{ partial "footer.html" . }}
