{{ if or .IsHome (len (findRE "^/cn/" .RelPermalink)) }}

<script async src="/js/load-typekit.js"></script>
{{ if lt (.Date.Year) 2017 }}
<script>
(function(u, c) {
  var d = document, t = 'script', o = d.createElement(t), s = d.getElementsByTagName(t)[0];
  o.src = u;
  if (c) { o.addEventListener('load', function (e) { c(e); }); }
  s.parentNode.insertBefore(o, s);
})('//cdn.jsdelivr.net/npm/pangu@4.0.5/dist/browser/pangu.min.js', function() {
  pangu.spacingPage();
});
</script>
{{ end }}
{{ end }}
<link rel="stylesheet" href="{{ "/css/custom.css" | relURL }}" />

