{{ partial "header.html" . }}

<p>The page at <code>
    <script>
    document.write(location.href);
    </script>
    </code> was not found. Don't hesitate go back and explore.</p>
    
    <p><img src="https://i.gifer.com/7iJR.gif" alt="Please go back" /></p>



{{ partial "footer.html" . }}
