{{ $folder := .Get "folder" | default "images/" }}
{{ $randomize := .Get "randomize" | default false }}
{{ $imageFiles := .Page.Resources.Match (printf "%s*" $folder) }}
{{ $uniqueID := .Get "uniqueID" | default "1" }}
{{ $height := .Get "height" | default "200" }}
{{ $width := .Get "width" | default "auto" }}
{{ $gap := .Get "gap" | default "10" }}
{{ $scale := .Get "scale" | default "100%" }}
{{ $showAlt := .Get "showAlt" | default false }}
{{ $usefile := .Get "useFile" | default false }}
{{ $wordList := slice }}
{{ if $usefile }}
  {{ $filename := .Get "filename" }}
  {{ $content := os.ReadFile $filename }}
  {{ $longList := $content | replaceRE "\\[|\\]|'|\"" "" }}
  {{ $wordList = split $longList "," }}
{{ else }}
  {{ $longList := .Get "long_list" | default "Image 1, Image 2, Image 3, Image 4, Image 5" }}
  {{ $wordList = split $longList "," }}
{{ end }}

<div class="gallery-container" data-gallery-id="{{ $uniqueID }}">
  <div class="image-grid">
    {{ if $randomize }}
      {{ range $index, $image := $imageFiles | shuffle }}
        {{ $thumbnail := $image.Resize "300x" }}
        <div class="image-item">
          <img 
            src="{{ $thumbnail.RelPermalink }}" 
            alt="{{ if lt $index (len $wordList) }}{{ index $wordList $index }}{{ else }}Image {{ add $index 1 }}{{ end }}"
            loading="lazy"
            width="{{ $width }}"
            height="{{ $height }}"
            data-full="{{ $image.RelPermalink }}"
            class="gallery-thumbnail"
          />
          {{ if $showAlt }}
            <div class="image-caption">{{ if lt $index (len $wordList) }}{{ index $wordList $index }}{{ else }}Image {{ add $index 1 }}{{ end }}</div>
          {{ end }}
          <div class="loading-indicator">Loading...</div>
        </div>
      {{ end }}
    {{ else }}
      {{ range $index, $image := $imageFiles }}
        {{ $thumbnail := $image.Resize "300x" }}
        <div class="image-item">
          <img 
            src="{{ $thumbnail.RelPermalink }}" 
            alt="{{ if lt $index (len $wordList) }}{{ index $wordList $index }}{{ else }}Image {{ add $index 1 }}{{ end }}"
            loading="lazy"
            width="{{ $width }}"
            height="{{ $height }}"
            data-full="{{ $image.RelPermalink }}"
            class="gallery-thumbnail"
          />
          {{ if $showAlt }}
            <div class="image-caption">{{ if lt $index (len $wordList) }}{{ index $wordList $index }}{{ else }}Image {{ add $index 1 }}{{ end }}</div>
          {{ end }}
          <div class="loading-indicator">Loading...</div>
        </div>
      {{ end }}
    {{ end }}
  </div>
</div>

<div class="modal" id="gallery-modal-{{ $uniqueID }}">
  <div class="modal-content">
    <button class="close-modal" aria-label="Close">&times;</button>
    <button class="nav-btn prev-btn" aria-label="Previous image">&lt;</button>
    <button class="nav-btn next-btn" aria-label="Next image">&gt;</button>
    <div class="modal-image-container">
      <div class="modal-loading-indicator">Loading full resolution image...</div>
      <img src="" alt="" class="modal-image" />
    </div>
    <div class="modal-caption"></div>
  </div>
</div>

<style>
.gallery-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: {{ $gap }}px;
  padding: 0;
}

.image-item {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.image-item:hover {
  transform: scale(1.02);
}

.gallery-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.loading-indicator,
.modal-loading-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  display: none;
}

.modal-loading-indicator {
  z-index: 2;
}

.loading .gallery-thumbnail {
  filter: blur(3px);
}

.loading .loading-indicator {
  display: block;
}

.image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 8px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-item:hover .image-caption {
  opacity: 1;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  cursor: pointer;
}

.modal-content {
  position: relative;
  width: 90%;
  max-width: 1200px;
  height: 90vh;
  margin: 5vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-image {
  max-width: 100%;
  max-height: 90vh;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-image.loaded {
  opacity: 1;
}

.close-modal {
  position: absolute;
  top: -40px;
  right: 0;
  background: none;
  border: none;
  color: white;
  font-size: 36px;
  cursor: pointer;
  padding: 5px;
  z-index: 1001;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: white;
  font-size: 24px;
  padding: 20px 15px;
  cursor: pointer;
  transition: background 0.3s ease;
  z-index: 1001;
}

.nav-btn:hover {
  background: rgba(255, 255, 255, 0.2);
}

.prev-btn {
  left: 0;
  border-radius: 0 5px 5px 0;
}

.next-btn {
  right: 0;
  border-radius: 5px 0 0 5px;
}

.modal-caption {
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  padding: 5px;
}

@media (max-width: 1024px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
}

@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  .gallery-container {
    padding: 10px;
  }
  
  .modal-content {
    width: 95%;
    height: 95vh;
    margin: 2.5vh auto;
  }
  
  .nav-btn {
    padding: 15px 10px;
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
  
  .gallery-container {
    padding: 8px;
  }

  .nav-btn {
    padding: 10px 8px;
    font-size: 18px;
  }
}
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const galleries = document.querySelectorAll('.gallery-container');
  
  galleries.forEach(gallery => {
    const galleryId = gallery.dataset.galleryId;
    const modal = document.getElementById(`gallery-modal-${galleryId}`);
    const modalImg = modal.querySelector('.modal-image');
    const modalCaption = modal.querySelector('.modal-caption');
    const modalLoadingIndicator = modal.querySelector('.modal-loading-indicator');
    const closeBtn = modal.querySelector('.close-modal');
    const prevBtn = modal.querySelector('.prev-btn');
    const nextBtn = modal.querySelector('.next-btn');
    const images = Array.from(gallery.querySelectorAll('.image-item img'));
    let currentIndex = 0;

    function showImage(index) {
      currentIndex = index;
      const img = images[index];
      modalImg.classList.remove('loaded');
      modalLoadingIndicator.style.display = 'block';
      
      // Create a new Image object to preload
      const fullImage = new Image();
      fullImage.onload = function() {
        modalImg.src = fullImage.src;
        modalImg.alt = img.alt;
        modalCaption.textContent = img.alt;
        modalLoadingIndicator.style.display = 'none';
        modalImg.classList.add('loaded');
      };
      fullImage.src = img.dataset.full;
      
      // Update navigation buttons visibility
      prevBtn.style.display = index === 0 ? 'none' : 'block';
      nextBtn.style.display = index === images.length - 1 ? 'none' : 'block';
    }

    images.forEach((img, index) => {
      img.addEventListener('click', () => {
        const imageItem = img.closest('.image-item');
        imageItem.classList.add('loading');
        modal.style.display = 'block';
        document.body.style.overflow = 'hidden';
        showImage(index);
      });
    });

    closeBtn.addEventListener('click', (e) => {
      e.stopPropagation();
      modal.style.display = 'none';
      document.body.style.overflow = 'auto';
      modalImg.src = '';
      modalImg.classList.remove('loaded');
    });

    prevBtn.addEventListener('click', (e) => {
      e.stopPropagation();
      if (currentIndex > 0) {
        showImage(currentIndex - 1);
      }
    });

    nextBtn.addEventListener('click', (e) => {
      e.stopPropagation();
      if (currentIndex < images.length - 1) {
        showImage(currentIndex + 1);
      }
    });

    modal.addEventListener('click', () => {
      modal.style.display = 'none';
      document.body.style.overflow = 'auto';
      modalImg.src = '';
      modalImg.classList.remove('loaded');
    });

    modal.querySelector('.modal-content').addEventListener('click', (e) => {
      e.stopPropagation();
    });

    // Touch swipe support
    let touchStartX = 0;
    let touchEndX = 0;

    modal.addEventListener('touchstart', (e) => {
      touchStartX = e.changedTouches[0].screenX;
    }, false);

    modal.addEventListener('touchend', (e) => {
      touchEndX = e.changedTouches[0].screenX;
      handleSwipe();
    }, false);

    function handleSwipe() {
      const swipeThreshold = 50;
      const diff = touchStartX - touchEndX;

      if (Math.abs(diff) > swipeThreshold) {
        if (diff > 0 && currentIndex < images.length - 1) {
          // Swipe left - next image
          showImage(currentIndex + 1);
        } else if (diff < 0 && currentIndex > 0) {
          // Swipe right - previous image
          showImage(currentIndex - 1);
        }
      }
    }

    // Keyboard navigation
    document.addEventListener('keydown', (e) => {
      if (modal.style.display === 'block') {
        if (e.key === 'ArrowLeft' && currentIndex > 0) {
          showImage(currentIndex - 1);
        }
        if (e.key === 'ArrowRight' && currentIndex < images.length - 1) {
          showImage(currentIndex + 1);
        }
        if (e.key === 'Escape') {
          modal.style.display = 'none';
          document.body.style.overflow = 'auto';
          modalImg.src = '';
          modalImg.classList.remove('loaded');
        }
      }
    });
  });
});
</script>